<div class="bg" data-vide-bg="./../../../assets/images/bg-video.mp4" data-vide-options="posterType:'none'">
  <div class="container">

    <div class="content">

      <div class="description">
        <p>Photographer</p>
        <p>and</p>
        <p>art director</p>
      </div>

      <div class="logo">
        <img src="../../../assets/images/logo.png" alt="OVINI">
      </div>

      <div class="skills">
        <p>Photography</p>
        <p>Art Direction</p>
        <p>About</p>
      </div>

    </div>

    <div class="social-media">
      <a href="https://api.whatsapp.com/send?phone=+5541995393712" target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="mailto:nascimentovinicius35@gmail.com" target="_blank">
        <i class="far fa-envelope"></i>
      </a>
      <a href="https://instagram.com/ovini_____" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>

  </div>
</div>
